input[type=text] {
  width: 10%;
  padding: 12px 20px;
  margin: 12px 10;
  box-sizing: border-box;
}
input[type=password] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 10;
  box-sizing: border-box;
}
