{% extends 'dict/base.html' %}
{% block content %}
<form action="search/list">
 <body>
  <p>
Please submit a term you are searching for</p></font>
   <body bgcolor="#CED8F6">
 </body>
    <input type="text" name="query" value="">
    <input type="submit" value="Find">
    <title>Welcome to our tech dict! </title>
</form>
    <ul>
    {% for terms in last_added_terms_list %}
        <li><a href="/word/{{ terms.word_id }}">{{ terms.translation }}({{terms.pub_date }})</a></li>
    {% endfor %}
    </ul>
{% endblock %}
